@import url("../node_modules/normalize.css/normalize.css");

:root {
    --page-color: #180131; 
    --body-height: calc(100vh - var(--footer-height) - var(--header-height));
    --footer-height: 30px;
    --header-height: 30px;
    --header-footer-color: #23093f;
}

* {
    margin: 0;
    color: white;
}

#container {
    display: flex;
    background-color: red;
}


.float-container{
    position: absolute;
    display: flex;
    background-color: #300b58;
    width: 100%;
    top: 60%;
    opacity: .5;
    height: 20px;
}

.span-text {
    position: absolute;
    top: 60%;
    font-weight: bold;
    display: flex;
    justify-content: end;
    width: 100%;
}



input, form, label {
    display: table;
    table-layout: fixed;
    
}



#left-half {
    position: relative;
    display: flex;
    background-color: var(--page-color);
    width: 30vw;
    justify-content: center;
    height: var(--body-height)
}



#right-half {
    align-content: center;
    text-align: center;
    position: relative;
    flex: 1;
    display: flex;
    background-color: var(--page-color);
    height: var(--body-height);
    flex-direction: column;
}

#footer {
    flex: 1;
    height: var(--footer-height);
    display: flex;
    background-color: var(--header-footer-color);
}

#header {
    position: relative;
    height: var(--header-height);
    background-color: var(--header-footer-color);
}

table {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: start;
    margin-top: 38vh;
    align-items: center;
    background-color: var(--header-footer-color);
}

td {
    padding-left: 50px;
    padding-right: 50px;
}

input {
    color: black;
}

